                              HypothesisTesting
    NUll Hypothesis denoted by H0
    
    Alternative Hypothesis by H1
    
    depends on the pvalue(probablityvalue)we can decide accept or reject 
    if pvalue<0.05 (reject null hypothesis)

In [2]:
import pandas as pd
dataset=pd.read_csv("Placement.csv")
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [3]:
#test syntax
#IndependentSample
#DifferentGroup(qualcolumn,qualcolumn)but same condition(quan column)
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male=dataset[dataset["gender"]=='M']["salary"]
female=dataset[dataset["gender"]=="F"]["salary"]
t_ans=ttest_ind(male,female)

In [4]:
t_ans

Ttest_indResult(statistic=1.9448521615505496, pvalue=0.053714668806405776)

In [6]:
   #Hypothesis testing depends on pvalue
dir(t_ans)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_field_defaults',
 '_fields',
 '_fields_defaults',
 '_make',
 '_replace',
 'count',
 'index',
 'pvalue',
 'statistic']

In [7]:
#ttest_pvalue alone
t_ans.pvalue

0.053714668806405776

In [10]:
#Frame Question :Is significant same the salary of male and female candidate?
#p<0.05(rejectnull)lessthan0.05

print("NullHypothesis:There is no significant same the salary of male and female candidate")
print("Alternate Hypothesis:There is significant same the salary of male and female candidate")
if(t_ans.pvalue<0.05):
    print("RejectNullHypothesis")
else:
    print("AcceptAlternateHypotheis")

NullHypothesis:There is no significant same the salary of male and female candidate
Alternate Hypothesis:There is significant same the salary of male and female candidate
AcceptAlternateHypotheis

In [15]:
#Dependent sample
#same group(qual column)but differnentcondition(quancolumn,quancolumn)
from scipy.stats import ttest_rel
dataset=dataset.dropna()
male=dataset[dataset["gender"]=='M']["ssc_p"]
male1=dataset[dataset["gender"]=="M"]["hsc_p"]
t_answer=ttest_rel(male,male1)

In [16]:
t_answer

Ttest_relResult(statistic=0.881726473207718, pvalue=0.38006050142386005)

In [14]:
#Frame Question :Is significant same gender of ssc and hsc candidate scored mark?
#p<0.05(rejectnull)lessthan0.05

print("NullHypothesis:There is no significant same gender of ssc and hsc candidate")
print("Alternate Hypothesis:There is significant same gender of ssc and hsc candidate")
if(t_answer.pvalue<0.05):
    print("RejectNullHypothesis")
else:
    print("AcceptAlternativeHypothesis")

NullHypothesis:There is no significant same gender of ssc and hsc candidate
Alternate Hypothesis:There is significant same gender of ssc and hsc candidate
AcceptAlternativeHypothesis